﻿@model MarvelMovies.Web.Models.MoviesViewModel

@{
    ViewBag.Title = "Movies Index";
}

<h2>Movies Index</h2>

<p style="color:red; font-weight: bold">@TempData["editResult"]</p>

@Html.Partial("MovieEdit", Model.EditedMovie)

@Html.Partial("MovieList", Model.ListOfMovies)

