﻿@model MarvelMovies.Web.Models.Movie

<h2>Edit one Movie</h2>

@using (Html.BeginForm("Edit", "Movies"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.MOVID)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.MOVIE_NAME)</div>
    <div class="editor-field">@Html.EditorFor(m => m.MOVIE_NAME)</div>

    <div class="editor-label">@Html.LabelFor(m => m.TITLE)</div>
    <div class="editor-field">@Html.EditorFor(m => m.TITLE)</div>

    <div class="editor-label">@Html.LabelFor(m => m.RELEASE_YEAR)</div>
    <div class="editor-field">@Html.EditorFor(m => m.RELEASE_YEAR)</div>

    <div class="editor-label">@Html.LabelFor(m => m.RUNTIME)</div>
    <div class="editor-field">@Html.EditorFor(m => m.RUNTIME)</div>

    <div class="editor-label">@Html.LabelFor(m => m.TOMATOMETER)</div>
    <div class="editor-field">@Html.EditorFor(m => m.TOMATOMETER)</div>

    <div class="editor-label">@Html.LabelFor(m => m.AUDIENCE_SCORE)</div>
    <div class="editor-field">@Html.EditorFor(m => m.AUDIENCE_SCORE)</div>

    <div class="editor-label">@Html.LabelFor(m => m.AUDIENCE_SCORE)</div>
    <div class="editor-field">@Html.EditorFor(m => m.AUDIENCE_SCORE)</div>

    if (ViewData["editAction"] == "AddNew")
    {
        <div class="editor-label">@Html.LabelFor(m => m.CollectionName)</div>
        <div class="editor-field">@Html.EditorFor(m => m.CollectionName)</div>
    }

    <input type="submit" value="SAVE" />
}

