﻿@model MarvelMovies.Web.Models.Movie
@{
    ViewBag.Title = "MovieDetails";
}

<h2>Datasheet of one car</h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>The ID of the Movie</td>
        <td>@Model.MOVID</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.MOVIE_NAME)</td>
        <td>@Html.DisplayFor(m => m.MOVIE_NAME)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.TITLE)</td>
        <td>@Html.DisplayFor(m => m.TITLE)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.RELEASE_YEAR)</td>
        <td>@Html.DisplayFor(m => m.RELEASE_YEAR)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.RUNTIME)</td>
        <td>@Html.DisplayFor(m => m.RUNTIME)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.TOMATOMETER)</td>
        <td>@Html.DisplayFor(m => m.TOMATOMETER)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.AUDIENCE_SCORE)</td>
        <td>@Html.DisplayFor(m => m.AUDIENCE_SCORE)</td>
    </tr>
</table>

