﻿@model IEnumerable<MarvelMovies.Web.Models.Movie>

<h2>List of Movies</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().MOVIE_NAME)</th>
            <th>@Html.DisplayNameFor(m => m.First().TITLE)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(m => item.MOVIE_NAME)</td>
            <td>@Html.DisplayFor(m => item.TITLE)</td>
            <td>@Html.ActionLink("[SHOW]", "Details", new { id = item.MOVID })</td>
            <td>@Html.ActionLink("[DEL]", "Remove", new { id = item.MOVID })</td>
            <td>@Html.ActionLink("[Edit]", "Edit", new { id = item.MOVID })</td>
        </tr>
        }
    </table>
}
